<section class="card" id="{{id}}">
    <div class="card-head">
        <h3>{{title}}</h3>
        <p>Posted by {{user.username}} at {{format_date updatedAt}}</p>
    </div>
    <div class="card-body">
        {{post}}
    </div>
</section>