<link rel="stylesheet" href="/css/new-post-comment.css">
<div class="new-post-box">
    <div class="posts">
        <section class="card" data-id="{{post.id}}">
            <div class="card-head">
                <h3>{{post.title}}</h3>
                <p>Posted by {{post.user.username}} at {{format_date post.updatedAt}}</p>
            </div>
            <div class="card-body">
                {{post.post}}
            </div>
        </section>
    </div>
    <div class="comments">
        <h2>Comments:</h2>
        {{#each post.comments}}
        {{> comment_details }}
        {{/each}}
        <h3 id="leave-comment">Leave a comment:</h3>
        <form id="new-comment-form">
            <textarea id="new-comment"></textarea>
            <input type="submit" class="submit submit-comment">
        </form>
    </div>
</div>
<script src="/js/viewPostComment.js"></script>